.section.hero {
    .typography {
      padding-right: 1em;
    }
    .gallery {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 1.75vw;
      .custom-image {
        border-radius: 3px;
        transform: scale(0);
        opacity: 0;
        animation: getAnimationDuration(0.3s) popOut forwards;
        @for $i from 2 through 9 {
          &:nth-child(#{$i}) {
            animation-delay: #{$i * 0.05}s;
          }
        }
      }
    }
  }